{% spaceless %}
<div class="final-program">
  <div class="{{ class }}">
    <h1>{{ title }}</h1>
    <p>Visit the 'Final program' in order to update data of the Keyword list.</p>
    {{ keywords }}
  </div>
</div>
{% endspaceless %}
