<div class="simple_session" {#style="background-color: grey"#}>
  <div>&nbsp;</div>
  <div class="field-code field__item">{{ code_scheduler }}</div>

{#  <div class="field__label">Title</div>#}
  <div class="field-session-title field__item">{{ title }}</div>
  {#{% if subtitle %}
    <div class="field__label">Subtitle</div>
    <h3 class="field__item">{{ subtitle }}</h3>
  {% endif %}#}

  {% for speaker in speakers %}
  <div class="field__item">{{ speaker }}</div>
  {% endfor %}

  <div>&nbsp;</div>

  <div class="field--label-inline">
    <span class="field__label">Time:&nbsp;</span>
    <span class="field__item">{{ time }}</span>
  </div>

  <div class="field--label-inline">
    <span class="field__label">Room:&nbsp;</span>
    <span class="field__item">{{ room }}</span>
  </div>

  {% if language %}
    <div class="field--label-inline">
      <span class="field__label">Language:&nbsp;</span>
      <span class="field__item">{{ language }}</span>
    </div>
  {% endif %}

  <div class="field__label"><span>Chair(s):&nbsp;</span>
    <span class="chair">{{ chairs|join(',  ') }}</span>
  </div>

  {% if cerp %}
    <div class="field--label-inline">
      <span class="field__label">CERP:&nbsp;</span>
      <span class="field__item">{{ cerp }}</span>
    </div>
  {%  endif %}

  <div>&nbsp;</div>

    {{ rendered_session }}

</div>
<hr />
<br />


