<div class="final-program">
  {{ codes }}

  <div class="session-list">
    <h1>Sessions</h1>
    <div>&nbsp;</div>
    {{ sessions }}
    {#<ul>
      {% for session in sessions %}
        <li>{{ session }}</li>
      {% endfor %}
    </ul>#}
  </div>
</div>
