{% spaceless %}
  <div class="keyword" style="padding: 1rem; font-size: 14px">
      <span class="field__name" style="font-weight: bolder; text-transform: capitalize">{{ name }}</span>: <span class="codes">{{ codes }}</span>
  </div>
<hr/>
{% endspaceless %}
