{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{{ attach_library('bootstrap_barrio/form') }}
{% if form.error %}
  <h1>{{ form.error['#value'] }}</h1>
{% else %}
  <div class="block block-invitation">
    <div class="event-image">
      {{ form.banner }}
    </div>

    <h1 class="block-title">
      {{ form.title }}
    </h1>

    <div class="block-content">
      <p class="invitation-welcome">Dear {{ form.welcome }},</p>
      <p>Welcome to the FDI WDC online speakers’ platform!</p>
      <p>We would like to invite you to give lectures on the suggested topics below. Our objective is to develop an outstanding programme for an international audience.</p>
      <p>Please click either on ‘ACCEPT THE INVITATION’ or ‘DECLINE THE INVITATION’.</p>
      <p>If you would like to speak, you will be directed to the next page where you can submit lecture proposals.</p>
      <p>We sincerely hope you will accept our invitation.</p>

      <ul class="invitation-category">
        {{ form.links }}
      </ul>

    </div>
  </div>

  <form{{ attributes }}>
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="home-tab" data-toggle="tab" href="#decline_inv" role="tab">
          {{ 'Decline the invitation'|t }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#accept_inv" role="tab">
          {{ 'Accept the invitation'|t }}
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="decline_inv" role="tabpanel" >
        {{ form.decline_block }}
      </div>
      <div class="tab-pane" id="accept_inv" role="tabpanel">
        <fieldset>
          {{ form.accept_block }}
        </fieldset>
      </div>
    </div>
    {{ form.form_build_id }} {# required #}
    {{ form.form_id }} {# required #}
    {{ form.form_token }} {# required #}
  </form>
{% endif %}
