{% if results is not empty %}
  <div class="block-inner">
    <h2>SUBMIT UP TO 3 PRESENTATIONS PER CATEGORY BELOW:</h2>
    <div class="block-content">
      <div class="views view-submit-session">
        <div class="view-content">
          {% for result in results  %}
            <div class="views-row">
              <div class="views-field views-field-submit-session">
{#                {{ result }}#}
                <a href="{{ result.url }}">{{ result.category }}
                {% if result.topic is not empty %}
                  <br>
                  > {{ result.topic }}
                {% endif %}
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}