
// you must include each plugins' css
// paths prefixed with ~ signify node_modules
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/timeline/main.css';
@import '~@fullcalendar/resource-timeline/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/list/main.css';

// You should override this component style here and then build the app.
// The best practice we suggest if it's a customization only for your theme, to do it in the scss directory at the root of the webapp directory

// Colors used on Scheduler:
$cream: #eaeae3;
$dark-blue: #2b3e50;
$green: #008000;
$light-blue: #3788d8;
$light-grey: #5a7b98;
$white: #fff;

.swal2-title {
  font-size: 1.4em;
  text-align: left;
  margin: .5em;
  line-height: 1.1em;
}

tbody tr:hover,
tbody tr:focus {
  background: none;
}

/* Header */
.fc-head {
  .fc-resource-area,
  .fc-time-area {
    .fc-scroller-clip > div {
      display: flex;
      align-items: center;
      height: inherit;
    }
    table {
      margin: 0;
    }
  }
  .fc-widget-header {
    background-color: $dark-blue;
    color: $white;
  }
  .fc-resource-area {
    text-transform: uppercase;
    .fc-expander-space span:empty {
      display:none;
    }
  }
  .fc-time-area th {
    font-size: 0.8em;
    text-transform: lowercase;
    .fc-cell-content {
      padding: 0.8em 0.2em;
    }
  }
}


/* Column Rooms */
.fc-resource-area {
  * > .fc-icon {
    display: none;
  }
  tr {
    font-size: 0.9em;
    .fc-widget-content {
      border: none;
      > div {
        display: flex;
        align-items: center;
        height: inherit;
      }
    }
  }
  tr[data-resource-id$="-multiple"] {
    background-color: $cream;
    .fc-cell-text {
      font-size: 0.9em;
      font-weight: bold;
      text-transform: uppercase!important;
    }
  }
}

/* Divider */
.fc-timeline .fc-head > tr > .fc-divider,
.fc-timeline .fc-body > tr > .fc-divider,
.fc-divider .fc-col-resizer .fc-widget-header {
  border-top: 1px solid $white;
  background-color: $white;
}

/* Time-line area */
.fc-time-area {
  .fc-event-container {
    /*display: flex;
    align-items: center;
    height: inherit!important;*/
    a {
      border: none;
      border-radius: 3px;
      margin-top: 0.8em;
      padding: 1em 0.5em;
      &:hover {
        background-color: $light-grey;
      }
      .event--title {
        font-size: 0.9em;
        text-transform: uppercase;
      }
      .event--speaker {
        font-style: italic;
      }
    }
  }
  tr[data-resource-id$="-multiple"] {
    background-color: $cream;
    a {
      background-color: $green;
    }
  }
}
