.left-column {
  .fc-event {
    margin: 0.6em 0!important;
    padding: 1.5em 0.8em 0.5em 0.8em!important;
    border-radius: 6px;
    span {
      display: block;
      &.event--speaker {
        margin: 0 0 0.5em 0;
        font-size: 1.2em;
        font-style: italic;
        text-transform: capitalize;
      }
      &.event--title {
        margin: 0 0 1em 0;
        font-size: 1.15em;
        text-transform: uppercase;
      }
      &.label--category,
      &.label--topic {
        margin: 0 0 0.5em 0;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        color: #034588;
      }
      &.label--topic:empty {
        /* Hide Topic label if it has not been defined for the session */
        display: none;
      }
    }
  }
  .list-filter + .fc-event {
    margin-top: 1.6em!important;
  }
}
