.left-column {
  .list-filter {
    margin: 0 0 0.5em 0;
    text-transform: capitalize;
    [class$="-control"] {
      &:hover {
      }
    }
    [class$="-menu"]{
      border-color: #3788d8;
      border-style: solid;
      border-width: 0px 1px 1px 1px;
      margin: 1px 0 0 0;
    }
  }
}
