div.region .messages--clipboard {
    padding: 3px;
    color: #008EE6;
    background-color: #cae7f7;
    border-color: #008EE6 #008EE6 #008EE6 transparent;
    box-shadow: -8px 0 0 #008EE6;
    /*color: #333;*/
}

.messages--clipboard .btn {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    position: absolute;
    width: 50px;
    right:50px;
    margin-top:3px;
}

.messages--clipboard textarea {
    width: 99%;
}
