{#
/**
 * @file multi_session.html.twig
 * Default theme implementation to present Multi session data.
 *
 * This template is used when viewing Multi session pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_multi_session()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('multi_session') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
