@import "components/event-detail";
@import "components/drag-and-drop-list";
@import "components/label";

.fc-button-group button.fc-button.fc-button-active {
  background-color: #2278c7;
}
// Fix issue where the view with resource (room) and the one with plan of session are not align with sliding down
.fc-scroller .fc-scroller-canvas {
  min-height: fit-content;
}


.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-top {
  margin: 0 0 3em;
}

.calendar .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  .col {
    flex-grow: 1;
  }

  .col.first{
    width: 230px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 2rem;
    overflow: auto;
    height: 100vh;
  }
}
