<div class="row" style="display: -webkit-flex; display: flex; flex-direction: row;">
  {#<div id='draggable-events' style="width: 150px; margin-right: 10px;">
    <div class="fc-event fc-draggable item-event" data-event='{ title: "my event", duration: "02:00" }'>Drag me</div>
    <div class="fc-event fc-draggable item-event" data-event='{ title: "my event 2", duration: "02:00" }'>Drag me 2</div>
    <div class="fc-event fc-draggable item-event" data-event='{ title: "my event 3", duration: "02:00" }'>Drag me 3</div>
    <div class="fc-event fc-draggable item-event" data-event='{ title: "my event 4", duration: "02:00" }'>Drag me 4</div>
  </div>#}

  <div id='calendar-container' style="-webkit-flex: 1; flex: 1;">
    <div id="root" style="position: relative;height: 100%;">
    </div>
  </div>
</div>
