{#
/**
 * @file break_time_slot.html.twig
 * Default theme implementation to present Break time slot data.
 *
 * This template is used when viewing Break time slot pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_break_time_slot()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('break_time_slot') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
