/* Lists of codes at the top of the page */
.final-program .code h2 {
  width: 100%;
  text-align: center;
}

/*  Reset styles for all fields  */
/*  before copy / paste in Word document  */
.final-program * div,
.final-program * span,
.final-program * p {
  margin: 0!important;
  padding: 0!important;
  line-height: normal!important;
}

.field-session-title {
  font-size: 1.5em;
  font-weight: bold;
}

.final-program .code {
  width: 20%;
  /*margin-right: 10%;*/
  float: left;
}

.final-program .code table td {
  width: 50%;
  text-align: center;
}

.final-program .session-list {
  clear: both;
  padding-top: 2em;
}

.final-program .field-period {
  text-transform: capitalize;
  font-size: 1.5em;
}

.final-program hr {
  margin: 3em 0;
}

.final-program .session-title,
.final-program .multi_session .field--name-name {
  font-size: 1.385em;
  font-weight: bold;
  clear: both;
}

.final-program .field--name-field-title  {
  font-size: 1.2em;
  font-weight: bold;
  clear: both;
}

.final-program .field--name-title {
  display: none;
}

.final-program .field--name-field-participant > div {
  font-size: 0.8em;
}

.final-program .field-code {
  font-size: 1.385em;
}

.final-program .block-field-blockuseruserfield-prefix,
.final-program .block-field-blockuseruserfield-first-name,
.final-program .block-field-blockuseruserfield-middle-name,
.final-program .block-field-blockuseruserfield-last-name {
  display: inline-block;
  font-size: 1.385em;
}

.final-program .multi_session {
  margin-top: 1.5rem;
}

.final-program .field--label-inline .field__label::after {
  content: "";
}

.final-program .chair {
  font-weight: normal;
}

/* Styles for view 'Final program - COI' */

.view-final-program-coi table {
  margin: 1em 0 2em 0;
}

.views-field-nothing-1 {
  width: 12%;
}
.view-final-program-coi td.views-field-field__affiliation-financial-int,
.view-final-program-coi td.views-field-field-corporate-organisation {
  width: 25%;
}


/*  SPEAKER LIST  */

.final_program_list_speakers .speaker {
  margin: 0 0 3em 0;
}

.final_program_list_speakers .speaker div {
  margin: 0 0 0.5em 0;
}

.final_program_list_speakers .speaker .field__name {
  font-size: 1.2em;
  font-weight: bold;
}
